.home-container-fluid {
  background-color: beige;
  width: 100%;
  height: 100vh;
}

.animation {
  justify-content: flex-end;
}

.home-font {
  font-size: x-large;
  font-weight: 700;
}

.div-top {
  margin-top: 5%;
}

.socialLink-div {
  font-size: large;
  text-align: end;
  margin-right: 5%;
}

.AboutMe-Line {
  border: 1px solid burlywood;
  width: 12rem;
  height: 1px;
  margin-bottom: 12px;
}
