/* Proj3.css */

.proj3 {
  background-color: #7b68ee; /* Royal Blue */
  border: 2px solid #4169e1; /* Royal Blue (진한 색상) */
  border-radius: 12px;
  overflow: hidden; /* 이미지를 컨테이너에 맞게 잘라주는 속성 */
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
}

.proj3-image {
  width: 100%;
  height: auto;
}

.proj3-content {
  padding: 20px;
}

.proj3 h2 {
  color: #8a2be2; /* Blue Violet (진한 색상) */
}

.proj3 p {
  color: #483d8b; /* Dark Slate Blue */
  line-height: 1.6;
}
